{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}{{ title }} | {% trans 'Django site admin' %}{% endblock %}

{% block branding %}
<h1 id="logo">{% trans '' %}</h1>
{% endblock %}

{% block nav-global %}{% endblock %}
{% block content %}
{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />
<script type="text/javascript" src="{% static 'polls/jquery/timer/jquery.pietimer.js' %}"></script>

<script type="text/javascript">
    $(function() {
      $('#timer').pietimer({
          timerSeconds: 1000,
          color: '#234',
          fill: false,
          showPercentage: true,
          callback: function() {
              $('form#formAnswer').submit();
              $('#timer').pietimer('reset');
          }
      });
    });
  </script>

<h1>{{ poll.question }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<div class="answerwrapper">

    <div class="answerform">
        <form action="{% url 'polls:answer' poll.id %}" method="post" id="formAnswer">
            {% csrf_token %}
            <textarea name="answer" cols=40 rows=6 class="answerarea"></textarea>
            <p>
            <input type="submit" value="Answer" />
        </form>
        <input type="submit" value="Pass" />
    </div>

    <div id="timer"></div>

</div>
{% endblock %}