{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}{{ title }} | {% trans 'Django site admin' %}{% endblock %}

{% block branding %}
<div id="logo" href="/admin" onclick="window.location = '/admin';">
</div>
<h1 id="site-name">{% trans 'Project Software Engineering' %}</h1>
{% endblock %}

{% block nav-global %}{% endblock %}
{% block content %}
{% load staticfiles %}
{% load poll_extras %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />
<script type="text/javascript" src="{% static 'polls/jquery/timer/jquery.pietimer.js' %}"></script>

<script type="text/javascript">
    $(function() {
      $('#voteTimer').pietimer({
          timerSeconds: 30,
          color: '#234',
          fill: false,
          showPercentage: true,
          callback: function() {
            window.location = "{% url 'polls:results' poll.id %}";
          }
      });
    });
  </script>

<h1>{{ poll.question }}</h1>
<h1>Choose the best possible answer</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'polls:vote' poll.id %}" method="post">
<div class="voteWrapper">

	{% csrf_token %}
	{% for choice in poll.choice_set.filter|voteFilter|slice:":2" %}
		<div class="voteButton">
            <button type="submit" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" class="voteButton">{{ choice.choice_text }}</button> 
		</div>
	    <!--
	    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
	    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />
		-->
	{% endfor %}
    
    <div id="voteTimer" class="voteTimer"></div>
    
</div>
</form>

<form action="{% url 'polls:results' poll.id %}" method="post">
<div class="voteSkip"><button type="submit" value="skip" >skip</button></div>
</form>

{% endblock %}