{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}{{ title }} | {% trans 'Django site admin' %}{% endblock %}

{% block branding %}
<div id="logo" href="/admin" onclick="window.location = '/admin';">
</div>
<h1 id="site-name">{% trans ' ' %}</h1>
{% endblock %}

{% block nav-global %}{% endblock %}
{% block content %}
{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />
<div class="logo" > </div>

{% include "menu.html" %}

<h1>Questions:</h1>
{% if latest_poll_list %}
    <ul class= "questions">
    {% for poll in latest_poll_list %}
		{% if poll.receiving_answers == True %}
			<li><a href="{% url 'polls:answer' poll.id %}"> {{ poll.question }}</a></li>
		{% endif%}
    {% endfor %}
    </ul>
    
{% else %}
    <p>No polls are available.</p>
{% endif %}
{% endblock %}