{% extends "teacher/question_index.html" %}
{% load i18n admin_urls admin_static admin_list %}
{% load cycle from future %}
{% block title %}{{ title }} | {% trans 'PILS' %}{% endblock %}

{% block nav-global %}{% endblock %}
{% block branding %} {{ block.super }} {% endblock %}


{% block breadcrumbs %}
{{ block.super }}
&rsaquo; <a href="/teacher/{{ course_id }}/{{ lecture_id }}/{{ question_id }}/">{% trans 'Answers' %}</a>

{% endblock %}


{{ title }}
{% block content %}
    <div id="content-main">
        {% block object-tools %}
            <ul class="object-tools">
                {% block object-tools-items %}
                    <li>
                        <a href="/admin/courses/answer/add/" class="addlink">
                            {% blocktrans %}Add Answer{% endblocktrans %}
                        </a>
                    </li>
                {% endblock object-tools-items %}
            </ul>
        {% endblock object-tools %}
                
        <div class="module" id="changelist">
        <form id="changelist-form" action="" method="post">

        <div class="actions"><label>
                Menu:
                <select name="action">
                <option value selected="selected">------------</option>
                
                </select>
        </label></div>
        
        {% if answer_list %}
        {% block result_list %}
        <div class="results">
            <table id="result_list">
                <thead>
                    <tr>
                        <th scope="col" class="action-checkbox-column">
                            <div class="text"><span>
                                <input type="checkbox" id="action-toggle" style="display: inline-block;">
                            </span></div>
                            <div class="clear"></div>
                        </th>
                        <th scope="col" class="sortable column-answer_text">
                            <div class="text"><a href="?o=1">Answers</a></div>
                            <div class="clear"></div>
                        </th>

                    </tr>
                </thead>
                <tbody>
                    {% for answer in answer_list %}
                        <tr class="{% cycle 'row1' 'row2' %}">
                            <td class="action-checkbox">
                                <input class="action-select" name="_selected_action" type="checkbox" value="{{ answer.id }}">
                            </td>
                            <th>
                                <a href="/teacher/{{ course_id }}/{{ lecture_id }}/{{ question_id }}/{{ answer.id }}">{{ answer.answer_text }}</a>
                            </th>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endblock result_list %}
        {% else %}
            <p>No answers are available.</p>
        {% endif %}
        </form>
        </div>
    </div>
	<div style="text-align:center; width:20%; height:20%; margin-left:40%; margin-top:15%;">
		<table style="margin-left:auto; margin-right:auto;">
			<tr>
				<td align="center">
				{% for word, number in count %}
					<font size="{{ number }}"> {{ word|cut:"." }} </font>
				{% endfor %}
				</td>
			</tr>
		</table>
	</div>
{% endblock %}
