{% extends "admin/base.html" %}
{% load i18n %}
{% block title %}
	{{ title }} Answers {{ site_title }}
{% endblock %}

{% block branding %}
	{{ block.super }}
{% endblock %}

{% block nav-global %}{% endblock %}

{% block breadcrumbs %}
	
		<a href="{% url 'admin:index' %}">
			{% trans 'Home' %}
		</a>
		&rsaquo;
		<a href="{% url 'teacher:course_index' %}">
			{% trans 'Courses' %}
		</a>
		&rsaquo;
		<a href="/teacher/{{ course_id }}/">
			{% trans 'Lectures' %}
		</a>
		&rsaquo;
		<a href="/teacher/{{ course_id }}/{{ lecture_id }}/">
			{% trans 'Questions' %}
		</a>
		&rsaquo;
		<a href="/teacher/{{ course_id }}/{{ lecture_id }}/{{ answer_id }}">
			{% trans 'Answers' %}
		</a>
	
{% endblock %}

{{ title }}
{% block content %}
	{% load staticfiles %}

	<div id="content-main">
		<div class="module" id="changelist">
			<div class="results">
                <div class="answerwrapper">
                    <div class="answerform">
                        <div class="question">{{ question.question_text }}</div>
                        <div class="answerFormWrapper">
                            <form action="{% url 'teacher:answer' lecture.course_id lecture.id question.id %}" method="post" id="formAnswer">
                                {% csrf_token %}
                                <textarea name="answer" cols=40 rows=6 class="answerarea"></textarea>
                                <p><input type="submit" value="Answer" />
                            </form>
                        </div>
                    </div>
                    <div id="timer"></div>
                </div>
			</div>
		</div>
	</div>
{% endblock %}
