{% extends "admin/base.html" %}
{% load i18n admin_urls admin_static admin_list %}
{% load cycle from future %}

{% block title %}{{ title }} | {% trans 'PILS' %}{% endblock %}


{% block nav-global %}{% endblock %}
{% block branding %} {{ block.super }} {% endblock %}


{% block breadcrumbs %}
{{ block.super }}
{% endblock %}

{% block coltype %}flex{% endblock %}

{{ title }}

{% block content %}
<div id="content-main">


{% if user.is_authenticated %}
    <p>Welcome, {{ user.username }}. Thanks for logging in.</p>
{% else %}
    <p>Welcome, new user. Please log in.</p>
{% endif %}
<table class="userprofile">
<tr>
<td>
<div id="ProfilePage">
    <div id="LeftCol">
        {% if user.is_active and user.is_superuser %}
        <div id="Photo"><img src="{{ STATIC_URL }}polls/images/dummypic.jpg" alt="dummypic" title="dummypic" width="200" height="200" /></div>
        {% elif user.is_active and user.is_staff %}
        <div id="Photo"><img src="{{ STATIC_URL }}polls/images/dummypic.jpg" alt="dummypic" title="dummypic" width="200" height="200" /></div>
        {% elif user.is_active %}
        <div id="Photo"><img src="{{ STATIC_URL }}polls/images/dummystudent.jpg" alt="dummystudent" title="dummystudent" width="200" height="200" /></div>
        {% endif %}
        <div id="ProfileOptions">
        
        </div>
    </div>

    <div id="Info">
        <h2>
            Information
        </h2>
        <p>
            <strong>Username:</strong>
            <span>{{ profile.username }}</span>
        </p>
        <p>
            <strong>Full name:</strong>
            <span>{{ profile.last_name }}, {{ profile.first_name }}</span>
        </p>
        <p>
            <strong>Date joined:</strong>
            <span>{{ profile.date_joined }}</span>
        </p>
        <p>
            <strong>Email:</strong>
            <span>{{ profile.email }}</span>
        </p>
        <p>
            <strong>Last login:</strong>
            <span>{{ profile.last_login }}</span>
        </p>
    </div>
    <!-- Needed because other elements inside ProfilePage have floats -->
    <div style="clear:both"></div>
</div>
</td>
<td id="rightcol">
<div class="module" id="changelist">
    {% if course_list %}
        {% block result_list %}
            <div class="results">
                <table id="result_list">
                    <thead>
                        <tr>
                            <th scope="col">
                                <span class="text">
                                    <a href="{% if user.is_staff %}{% trans '/teacher/' %}
                                            {% else %}{% trans '/courses/' %}{% endif %}">
                                        My Courses
                                    </a>
                                </span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for course in course_list %}
                            <tr class="{% cycle 'row1' 'row2' %}">
                                <td>
                                    <a href="{% if user.is_staff %}{% trans '/teacher/' %}{{ course.id }}/
										{% else %}{% trans '/courses/' %}{{ course.id }}/{% endif %}">
                                        {{ course.course_text }}
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endblock result_list %}
    {% endif %}
</div>
</td>
</tr>
</table>
</div>
{% endblock content %}