{% extends "admin/base.html" %}
{% load i18n admin_urls admin_static admin_list %}
{% load cycle from future %}
{% block title %}{{ title }} | {% trans 'PILS' %}{% endblock %}

{% block branding %}
<h1 id="site-name">{% trans 'PILS' %}</h1>

{% endblock %}
{% block nav-global %}{% endblock %}

{% if action_form %}{% if actions_on_top or actions_on_bottom %}
<script type="text/javascript">
(function($) {
    $(document).ready(function($) {
        $("tr input.action-select").actions();
    });
})(django.jQuery);
</script>
{% endif %}{% endif %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'teacher:course_index' %}">{% trans 'Courses' %}</a>
&rsaquo; <a href="/teacher/{{ course_id }}/">{% trans 'Lectures' %}</a>
&rsaquo; <a href="/teacher/{{ course_id }}/{{ lecture_id }}/">{% trans 'Questions' %}</a>

</div>
{% endblock %}


{{ title }}
{% block content %}
    <div id="content-main">
        {% block object-tools %}
            <ul class="object-tools">
                {% block object-tools-items %}
                    <li>
                        <a href="/admin/courses/question/add/" class="addlink">
                            {% blocktrans %}Add Question{% endblocktrans %}
                        </a>
                    </li>
                    <li>
                        <a href="/polls/" class="addlink">
                            {% blocktrans %}Start Session{% endblocktrans %}
                        </a>
                    </li>
                {% endblock object-tools-items %}
            </ul>
        {% endblock object-tools %}
        
        {% if question_list %}
        {% block result_list %}
        <div class="results">
            <table id="result_list">
                <thead>
                    <tr>
                        <th scope="col" class="action-checkbox-column">
                            <div class="text"><span>
                                <input type="checkbox" id="action-toggle" style="display: inline-block;">
                            </span></div>
                            <div class="clear"></div>
                        </th>
                        <th scope="col" class="sortable column-question_text">
                            <div class="text"><a href="?o=1">Questions</a></div>
                            <div class="clear"></div>
                        </th>

                    </tr>
                </thead>
                <tbody>
                    {% for question in question_list %}
                        <tr class="{% cycle 'row1' 'row2' %}">
                            <td class="action-checkbox">
                                <input class="action-select" name="_selected_action" type="checkbox" value="{{ question.id }}">
                            </td>
                            <th>
                                <a href="/teacher/{{ course_id }}/{{ lecture_id }}/{{ question.id }}/">{{ question.question_text }}</a>
                            </th>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endblock result_list %}
        {% else %}
            <p>No questions are available.</p>
        {% endif %}
        
    </div>
{% endblock %}
