{% extends "admin/base.html" %}
{% load i18n %}
{% block title %}
    {{ title }} Answers {{ site_title }}
{% endblock %}

{% block branding %}
    <div id="logo" href="/teacher" onclick="window.location = '/teacher';">
    </div>
{% endblock %}

{% block nav-global %}{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumb">
        <a href="{% url 'admin:index' %}">
            {% trans 'Home' %}
        </a>
        &rsaquo;
        <a href="{% url 'teacher:course_index' %}">
            {% trans 'Courses' %}
        </a>
        &rsaquo;
        <a href="/teacher/{{ course_id }}/">
            {% trans 'Lectures' %}
        </a>
        &rsaquo;
        <a href="/teacher/{{ course_id }}/{{ lecture_id }}/">
            {% trans 'Questions' %}
        </a>
        &rsaquo;
        <a href="/teacher/{{ course_id }}/{{ lecture_id }}/{{ answer_id }}">
            {% trans 'Answers' %}
        </a>
    </div>
{% endblock %}

{{ title }}
{% block content %}
    {% load staticfiles %}
		<h1>Add a question to the current lecture: {{ lecture.lecture_text }}</h1>
		<form action="{% url 'teacher:question' lecture.course_id lecture.id %}" method="post" id="formQuestion">
			{% csrf_token %}
			<textarea name="question" cols=40 rows=6 class="questionArea">Enter your question here...</textarea>
			<textarea name="tags" cols=40 rows=6 class="questionArea">Enter the tags here...</textarea>
			<br>
			<p><input type="submit" value="Add question" /></p>
		</form>
{% endblock %}
