{% extends "admin/base.html" %}
{% load i18n %}
{% block title %}
	{{ title }} | {% trans 'PILS' %} 
{% endblock %}

{% block branding %}
{{ block.super }}
{% endblock %}

{% block nav-global %}{% endblock %}

{% block breadcrumbs %}
	<div class="breadcrumb">
        <a href="{% if user.is_superuser %}{% url 'admin:index' %} 
                 {% elif user.is_staff %}{% trans '/teacher/' %} 
                 {% else %}{% trans '/teacher/' %}
                 {% endif %}">{% trans 'Home' %}</a>
		&rsaquo;
		<a href="{% url 'teacher:session_index' %}">
			{% trans 'Sessions' %}
		</a>
		&rsaquo;
		<a href="/teacher/session/">
			{% trans 'Add Session' %}
		</a>
		
	</div>
{% endblock %}

{% block coltype %}flex{% endblock %}
{{ title }}
{% block content %}
	{% load staticfiles %}
	{% block result_list %}
		<h1>Add a session:</h1>
		<form action="{% url 'teacher:session' %}" method="post" id="formSession">
			{% csrf_token %}
			<textarea name="session" cols=40 rows=6 class="sessionArea">Enter the name of the session here...</textarea>
			<!--
			Misschien dat hier nog een lisjtje met teachers toegevoegd moet worden,
			als niet automatisch wordt bepaald wie de teacher van de course is.
			//-->
			<p><input type="submit" value="Add session" />
		</form>
	{% endblock result_list %}
{% endblock %}
