{% extends "admin/base.html" %}
{% load i18n %}
{% block title %}
	{{ title }} Answers {{ site_title }}
{% endblock %}

{% block branding %}
	<div id="logo" class="logo" href="/courses" onclick="window.location = '/courses';">
	</div>
{% endblock %}

{% block nav-global %}{% endblock %}

{% block breadcrumbs %}
	<div class="breadcrumb">
		<a href="{% url 'admin:index' %}">
			{% trans 'Home' %}
		</a>
		&rsaquo;
		<a href="{% url 'courses:course_index' %}">
			{% trans 'Courses' %}
		</a>
		&rsaquo;
		<a href="/courses/{{ course_id }}/">
			{% trans 'Lectures' %}
		</a>
		&rsaquo;
		<a href="/courses/{{ course_id }}/{{ lecture_id }}/">
			{% trans 'Questions' %}
		</a>
		&rsaquo;
		<a href="/courses/{{ course_id }}/{{ lecture_id }}/{{ answer_id }}">
			{% trans 'Answers' %}
		</a>
	</div>
{% endblock %}

{{ title }}
{% block content %}
	{% load staticfiles %}

	<div id="content-main">
		<div class="module" id="changelist">
			<div class="results">
                <script type="text/javascript">
                    $(function() {                   
                        voteStart = {{ question.vote_start|date:"U" }};
                        if (Math.round((new Date().getTime()/1000)) > voteStart) {
                            $(".answerwrapper").remove();
                            window.location = "{% url 'courses:vote' lecture.course_id lecture.id question.id %}";
                        }
                        time = (voteStart - Math.round((new Date().getTime()/1000)));
                        setTimer("#timer", time, "/courses/{{ lecture.course_id }}/{{ lecture.id }}/{{ question.id }}/vote/");
                    });
                </script>

                <div class="answerwrapper">
                    <div class="answerform">
                        <h1>{{ question.question }}</h1>
                        <form action="{% url 'courses:answer' lecture.course_id lecture.id question.id %}" method="post" id="formAnswer">
                            {% csrf_token %}
                            <textarea name="answer" cols=40 rows=6 class="answerarea"></textarea>
                            <p><input type="submit" value="Answer" />
                        </form>
                    </div>
                    <div id="timer"></div>
                </div>
			</div>
		</div>
	</div>
{% endblock %}
