{% extends "courses/question_index.html" %}
{% load i18n %}
{% block title %}{{ title }} | {% trans 'PILS' %}{% endblock %}

{% block branding %} {{ block.super }} {% endblock %}

{% block nav-global %}{% endblock %}



{% block breadcrumbs %}
    {{ block.super }}
    &rsaquo;
    <a href="/courses/{{ course_id }}/{{ lecture_id }}/{{ answer_id }}">
        {% trans 'Answers' %}
    </a>

{% endblock %}

{{ title }}
{% block content %}
	{% load poll_extras %}
    <div id="content-main">
        <div class="module" id="changelist">
            {% if answer_list %}
                {% block result_list %}
                <div class="results">
                    <table id="result_list">
                        <thead>
                            <tr>
                                <th scope="col"> 
                                    <span class="text">
                                        <a href="?o=1">
                                            Answers
                                        </a>
                                    </span>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for answer in answer_list %}
                            <tr class="{% cycle 'row1' 'row2' %}">
                                <td>
                                    <a href="/courses/{{ course_id }}/{{ lecture_id }}/{{ question_id }}/ {{ answer.id }}/">
                                        {{ answer.answer_text }}
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endblock result_list %}
            {% else %}
                <p>No answers are available.</p>
            {% endif %}
        </div>
    </div>
	<div style="text-align:center;">
		<table width="20%" style="margin-left:auto; margin-right:auto;">
			<tr>
				<td align="justify">
				{% for word, number in count %}
					<font size="{{ number }}"> {{ word|cut:"." }} </font>
				{% endfor %}
				</td>
			</tr>
		</table>
	</div>
{% endblock %}
