{% extends "admin/base.html" %}
{% load i18n %}
{% block title %}
	{{ title }} Answers {{ site_title }}
{% endblock %}

{% block branding %}
	{{ block.super }}
{% endblock %}

{% block nav-global %}{% endblock %}

{% block breadcrumbs %}
	
		<a href="{% url 'admin:index' %}">
			{% trans 'Home' %}
		</a>
		&rsaquo;
		<a href="{% url 'courses:course_index' %}">
			{% trans 'Courses' %}
		</a>
		&rsaquo;
		<a href="/courses/{{ course_id }}/">
			{% trans 'Lectures' %}
		</a>
		&rsaquo;
		<a href="/courses/{{ course_id }}/{{ lecture_id }}/">
			{% trans 'Questions' %}
		</a>
		&rsaquo;
		<a href="/courses/{{ course_id }}/{{ lecture_id }}/{{ answer_id }}">
			{% trans 'Answers' %}
		</a>
	
{% endblock %}

{{ title }}
{% block content %}
	{% load staticfiles %}

	<div id="content-main">
		<div class="module" id="changelist">
			<div class="results">
                <script type="text/javascript">
                    $(function() {                   
                        
                        if (!setVoteStart()) {
                            return;
                        }
                        
                        function setVoteStart() {
                        
                            voteStart = Number({{ question.vote_start|date:"U" }});
                            
                            if (voteStart == '') {
                                clearScreen();
                                setDescription("There was a problem with your request. Please try again later", 1);
                                
                                setTimeout('window.location = "{% url 'courses:course_index' %}"', 2500);
                                
                                return false;
                                
                            }
                            
                            return true;
                        }
                        
                        function setDescription(description, highlight) {
                            $('.description').html(description);
                            if (highlight) {
                                $('.description').effect("highlight", {}, 3000);
                            }
                        }
                        
                        function clearScreen() {
                            $('.answerFormWrapper').empty();
                        }                        
                        
                        if (Math.round((new Date().getTime()/1000)) > voteStart) {
                            $(".answerFormWrapper").remove();
                            setDescription("Time over! You will be redirected to the vote page!", 1);
                            window.location = "{% url 'courses:vote' lecture.course_id lecture.id question.id %}";
                        }
                        time = (voteStart - Math.round((new Date().getTime()/1000)));
                        setTimer("#timer", time, "/courses/{{ lecture.course_id }}/{{ lecture.id }}/{{ question.id }}/vote/");
                    });
                </script>

                <div class="answerwrapper">
                    <div class="answerform">
                        <div class="question">{{ question.question_text }}</div>
                        <div class="description">What is the answer to this question? Watch your time!</div>
                        <div class="answerFormWrapper">
                            <form action="{% url 'courses:answer' lecture.course_id lecture.id question.id %}" method="post" id="formAnswer">
                                {% csrf_token %}
                                <textarea name="answer" cols=40 rows=6 class="answerarea"></textarea>
                                <p><input type="submit" value="Answer" />
                            </form>
                        </div>
                    </div>
                    <div id="timer"></div>
                </div>
			</div>
		</div>
	</div>
{% endblock %}
