{% extends "courses/course_index.html" %}

{% load i18n %}
{% block title %}{{ title }} | {% trans 'PILS' %}{% endblock %}

{% block branding %} {{ block.super }} {% endblock %}

{% block nav-global %}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    &rsaquo;
    <a href="courses/enroll/">{% trans 'Enroll' %}</a>
   
{% endblock %}


{{ title }}
{% block content %}
    <div id="content-main">
        
        <div class="module" id="changelist">
            {% if course_info %}
                {% block result_list %}
                    <div class="results">
                        <table id="result_list">
                            <thead>
                                <tr>
                                    <th scope="col" class="action-checkbox-column">
                                        <div class="text"><span>
                                                <input type="checkbox" id="action-toggle" style="display: inline-block;">
                                        </span></div>
                                        <div class="clear"></div>
                                    </th>

                                    <th scope="col">
                                        <span class="text">
                                            <a href="?o=1">
                                                Courses
                                            </a>
                                        </span>
                                    </th>
                                    <th scope="col">
                                        <span class="text">
                                            <a href="">
                                                Teachers
                                            </a>
                                        </span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                            <form id="changelist-form" action method="post">
                            {% csrf_token %}
                                <div class="actions">
                                    <label>
                                        Action: 
                                        <select name="action">
                                            <option
                                            value="my_onclick()">Enroll to
                                            selected courses</option>
                                        </select>
                                    </label>
                                    <input class="select-across"
                                    name="select_across" type="hidden"
                                    value="0">
                                    <button type="submit" class="button" title="Run the selected action" name="index" value="0">Go
                                <script type="text/javascript">
                                    function my_onclick() {
                                    document.getElementById["changelist-form"].submit();
                                    } document.form.index.onclick = my_onclick
                                </script>
                                     </button>
                               
                                </div>
                            </form>
                            {% for course in course_info %}

                                <tr class="{% cycle 'row1' 'row2' %}">
                                    <td class="action-checkbox">
                                        <input class="action-select" name="_selected_action" type="checkbox" value="{{ course.id }}">
                                    </td>

                                    <td>
                                        <a href="/courses/{{ course.0.id }}/">
                                            {{ course.0.course_text }}
                                        </a>
                                    </td>
                                    <td>
                                        <p>{% for teacher in course.1 %}
                                        {% if teacher.first_name and teacher.last_name %}
                                        {{ teacher.first_name }} {{ teacher.last_name }}
                                        {% else %}
                                        {{ teacher.username }}
                                        {% endif %}
                                        {% trans ', ' %}{% endfor %}
                                        </p>
                                    </td>
                                </tr>
                                {% endfor %}
                           </tbody>
                        </table>

                    </div>
                    {% endblock result_list %}
                    {% else %}
                    <p>No courses are available.</p>
                    {% endif %}
                </div>
            </div>
            {% endblock %}
