{% extends "admin/base.html" %}

{% load i18n %}
{% block title %}{{ title }} | {% trans 'PILS' %}{% endblock %}

{% block branding %} {{ block.super }} {% endblock %}

{% block nav-global %}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    &rsaquo;
    <a href="{% url 'courses:course_index' %}">
        {% trans 'Courses' %}
    </a>

{% endblock %}


{{ title }}
{% block content %}
    <div id="content-main">
        {% block object-tools %}
            <ul class="object-tools">
                {% block object-tools-items %}
                    <li>
                        <a href="/courses/enroll/" class="addlink">
                            {% blocktrans %}Enroll for course{% endblocktrans %}
                        </a>
                    </li>
                {% endblock object-tools-items %}
            </ul>
        {% endblock object-tools %}
        
        <div class="module" id="changelist">
            {% if course_list %}
                {% block result_list %}
                    <div class="results">
                        <table id="result_list">
                            <thead>
                                <tr>
                                    <th scope="col">
                                        <span class="text">
                                            <a href="?o=1">
                                                Courses
                                            </a>
                                        </span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for course in course_list %}
                                    <tr class="{% cycle 'row1' 'row2' %}">
                                        <td>
                                            <a href="/courses/{{ course.id }}/">
                                                {{ course.course_text }}
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endblock result_list %}
            {% else %}
                <p>No courses are available.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
