{% extends "admin/base.html" %}
{# load bootstrap3 is dus niet nodig hier want je doet dat al in base.html.
   verder zit hier een fout: http://smvv.io:8140/courses/15/7/10/
   als je daar op de link klikt gaat het fout want er staat een spatie in de
   url. en je bedoelt class="form" zoals in die github example?
   Ja, of http://getbootstrap.com/components/#breadcrumbs voor breadcrumbs. 
   ok en al die block extrahead, waar al dat javascript instaat? en block
   styles enzo? Je hoeft iig niets meer toe te voegen aan javascript voor
   bootstrap zelf. Als je zelf iets wil scripten dan doe je inderdaad aan
   extrahead toevoegen. #}

{% load i18n %}
{% block title %}{{ title }} | {% trans 'PILS' %}{% endblock %}

{% block branding %} {{ block.super }} {% endblock %}

{% block nav-global %}{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumb">
        <a href="{% if user.is_superuser %}{% url 'admin:index' %} 
                 {% elif user.is_staff %}{% trans '/teacher/' %} 
                 {% else %}{% trans '/courses/' %}
                 {% endif %}">{% trans 'Home' %}</a>
        &rsaquo;
        <a href="{% url 'courses:course_index' %}">
            {% trans 'Courses' %}
        </a>
    </div>
{% endblock %}


{{ title }}
{% block content %}
    <div id="content-main">
        {% block object-tools %}
            <ul class="object-tools">
                {% block object-tools-items %}
                    <li>
                        <a href="/enroll/" class="addlink">
                            {% blocktrans %}Enroll for course{% endblocktrans %}
                        </a>
                    </li>
                {% endblock object-tools-items %}
            </ul>
        {% endblock object-tools %}
        
        <div class="module" id="changelist">
            {% if course_list %}
                {% block result_list %}
                    <div class="results">
                        <table id="result_list">
                            <thead>
                                <tr>
                                    <th scope="col">
                                        <span class="text">
                                            <a href="?o=1">
                                                Courses
                                            </a>
                                        </span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for course in course_list %}
                                    <tr class="{% cycle 'row1' 'row2' %}">
                                        <td>
                                            <a href="/courses/{{ course.id }}/">
                                                {{ course.course_text }}
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endblock result_list %}
            {% else %}
                <p>No courses are available.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
