{% extends "courses/course_index.html" %}

{% load i18n %}
{% block title %}{{ title }} | {% trans 'PILS' %}{% endblock %}

{% block branding %} {{ block.super }} {% endblock %}

{% block nav-global %}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    &rsaquo;
    <a href="courses/enroll/">{% trans 'Enroll' %}</a>
   
{% endblock %}


{{ title }}
{% block content %}
    <div id="content-main">
        
        <div class="module" id="changelist">
            {% if course_info %}
                {% block result_list %}
                    <div class="results">
                        <form id="changelist-form" method="post">
                        {% csrf_token %}
                        <table id="result_list">
                            <thead>
                                <tr>
                                    <th colspan="3">
                                        <div class="actions">
                                            <label>
                                                Action: 
                                                <select name="action">
                                                    <option value="enroll">Enroll to selected courses</option>
                                                </select>
                                            </label>
                                            <button type="submit" class="button" title="Run the selected action">Go</button>
                                        </div>
                                    </th>
                                </tr>
                                <tr>
                                    <th scope="col" class="action-checkbox-column">
                                        <div class="text"><span>
                                                <input type="checkbox" id="action-toggle" style="display: inline-block;">
                                        </span></div>
                                        <div class="clear"></div>
                                    </th>

                                    <th scope="col">
                                        <span class="text">
                                            <a href="?o=1">
                                                Courses
                                            </a>
                                        </span>
                                    </th>
                                    <th scope="col">
                                        <span class="text">
                                            <a href="">
                                                Teachers
                                            </a>
                                        </span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for course in course_info %}

                                <tr class="{% cycle 'row1' 'row2' %}">
                                    <td class="action-checkbox">
                                        <input class="action-select" name="course_ids[]" type="checkbox" value="{{ course.0.id }}">
                                    </td>

                                    <td>
                                        <p>
                                            {{ course.0.course_text }}
                                        </p>
                                    </td>
                                    <td>
                                        <p>{% for teacher in course.1 %}
                                        {% if teacher.first_name and teacher.last_name %}
                                        {{ teacher.first_name }} {{ teacher.last_name }}
                                        {% else %}
                                        {{ teacher.username }}
                                        {% endif %}
                                        {% trans ', ' %}{% endfor %}
                                        </p>
                                    </td>
                                </tr>
                                {% endfor %}
                           </tbody>
                        </table>
                        </form>
                    </div>
                    {% endblock result_list %}
                    {% else %}
                    <p>No courses are available.</p>
                    {% endif %}
                </div>
            </div>
            {% endblock %}
