{% extends "admin/base.html" %}
{% load i18n %}
{% block title %}
	{{ title }} Lectures {{ site_title }}
{% endblock %}

{% block branding %} {{ block.super }} {% endblock %}

{% block nav-global %}{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% if user.is_superuser %}{% url 'admin:index' %} 
         {% elif user.is_staff %}{% trans '/teacher/' %} 
         {% else %}{% trans '/courses/' %}
         {% endif %}">{% trans 'Home' %}</a>
	&rsaquo; <a href="{% url 'courses:course_index' %}">
		{% trans 'Courses' %}
	</a>
	&rsaquo; <a href="/courses/{{ course_id }}/">
		{% trans 'Lectures' %}
	</a>
</div>
{% endblock %}

{{ title }}
{% block content %}
	<div id="content-main">
		<div class="module" id="changelist">
			{% if lecture_list %}
				{% block result_list %}
					<div class="results">
						<table id="result_list">
							<thead>
								<tr>
									<th scope="col"> 
									<div class="text">
										<a href="?o=1">
											Lectures
										</a>
									</div>
									<div class="clear">
									</div>
									</th>
								</tr>
							</thead>
							<tbody>
							{% for lecture in lecture_list %}
								<tr class="{% cycle 'row1' 'row2' %}">
									<td>
										<a href="/courses/{{ course_id }}/{{ lecture.id }}/">
											{{ lecture.lecture_text }}
										</a>
									</td>
								</tr>
							{% endfor %}
							</tbody>
						</table>
					</div>
				{% endblock result_list %}
			{% else %}
				<p>No lectures are available.</p>
			{% endif %}
		</div>
	</div>
{% endblock %}