{% extends "admin/base.html" %}
{% load i18n %}
{% block title %}
	{{ title }} Questions {{ site_title }}
{% endblock %}

{% block branding %} {{ block.super }} {% endblock %}

{% block nav-global %}{% endblock %}

{% block breadcrumbs %}
	<div class="breadcrumbs">
		<a href="{% if user.is_superuser %}{% url 'admin:index' %} 
             {% elif user.is_staff %}{% trans '/teacher/' %} 
             {% else %}{% trans '/courses/' %}
             {% endif %}">{% trans 'Home' %}</a>
		&rsaquo;
		<a href="{% url 'courses:course_index' %}">
			{% trans 'Courses' %}
		</a>
		&rsaquo;
		<a href="/courses/{{ course_id }}/">
			{% trans 'Lectures' %}
		</a>
		&rsaquo;
		<a href="/courses/{{ course_id }}/{{ lecture_id }}/">
			{% trans 'Questions' %}
		</a>
	</div>
{% endblock %}

{{ title }}
{% block content %}
	{% load staticfiles %}
	<div id="content-main">
		<div class="module" id="changelist">
		{% if question_list %}
			{% block result_list %}
			<div class="results">
				<table id="result_list">
					<thead>
						<tr>
							<th scope="col"> 
								<span class="text"><a href="?o=1">Questions</a></span>
							</th>
						</tr>
					</thead>
					<tbody>
						{% for question in question_list %}
						<tr class="{% cycle 'row1' 'row2' %}">
							<td width="75%">
								<a href="/courses/{{ course_id }}/{{ lecture_id }}/{{ question.id }}/">
									{{ question.question_text }}
								</a>
							</td>
							<td width="15%" align="center">
							{% if question.answerable = True %}
								<form action="{% url 'courses:closeVoting' lecture.course_id lecture.id %}">
									<button type="submit" class="toggleButton" name="question_id" value="{{ question.id }}">
										Close question
							{% else %}
								<form action="{% url 'courses:openVoting' lecture.course_id lecture.id %}">
									<button type="submit" class="toggleButton" name="question_id" value="{{ question.id }}">
										Open question
							{% endif %}
									</button>
								</form>
							</td>
							<td width="10%" align="center">
								<form action="{% url 'courses:editToggleQuestion' lecture.course_id lecture.id %}">
									<button type="submit" class="edit" name="question_id" value="{{ question.id }}">
										Edit <img src=""></img>
									</button>
								</form>
							</td>
						</tr>
						{% if question.editable %}
						<tr>
							<td colspan="3">
								<table>
									<form action="{% url 'courses:saveChangesQuestion' lecture.course_id lecture.id %}" method="post">
										<tr>
											<td width="10%" class="edit" align="center">
													Edit Question:
											</td>
											<td width="30%" align="center">
												{% csrf_token %}
												<input type="text" size="100%" name="questionText" value="{{ question.question_text }}">
											</td>
											<td width="10%" class="edit" align="center">
													Edit Answer Time:
											</td>
											<td width="15%" align="center">
												{% csrf_token %}
												<input type="text" size="25%" name="answerTime" value="{{ question.answer_time }}">
											</td>
											<td width="10%" class="edit" align="center">
													Edit Vote Time
											</td>
											<td width="15%" align="center">
												{% csrf_token %}
												<input type="text" size="25%" name="voteTime" value="{{ question.vote_duration }}">
											</td>
											<td width="10%" align="center">
												<button type="submit" class="edit" name="question_id" value="{{ question.id }}">
													Save Changes
												</button>
											</td>
										</tr>
									</form>
								</table>
							</td>							
						</tr>
						{% endif %}
						{% endfor %}
					</tbody>
				</table>
			</div>
			{% endblock result_list %}
		{% else %}
			<p>No questions are available.</p>
		{% endif %}
		</div>
	</div>
{% endblock %}