{% extends "teacher/course_index.html" %}
{% load i18n admin_urls admin_static admin_list %}
{% load cycle from future %}
{% block title %}{{ title }} | {% trans 'PILS' %}{% endblock %}


{% block nav-global %}{% endblock %}
{% block branding %} {{ block.super }} {% endblock %}


{% block breadcrumbs %}
{{ block.super }}
&rsaquo; <a href="/teacher/analytics/">{% trans 'Analytics' %}</a>

{% endblock %}


{{ title }}
{% block content %}
	<div id="content-main">
		{% block object-tools %}
			<ul class="object-tools">
				
			</ul>
		{% endblock object-tools %}

		<div class="module" id="changelist">

			<div class="actions">
				<label>
					Analytics
				
				</label>
			</div>
			<div>
				<label>
					The bars show the absolute value of your presence, given answers and the votes you received
				</label>
			</div>
			<div class="module" id="changelist">
		
				<img src="{{ STATIC_URL }}polls/images/analytics_bar.png" alt="pie" title="piechart" width="703" height="362" />
				
				
			</div>
			
		</div>
	</div>
{% endblock %}
