{% extends "admin/base.html" %}
{% load i18n %}
{% block title %}
	{{ title }} Questions {{ site_title }}
{% endblock %}

{% block branding %}
	<div id="logo" href="/courses" onclick="window.location = '/courses';">
	</div>
{% endblock %}

{% block nav-global %}{% endblock %}

{% block breadcrumbs %}
	<div class="breadcrumbs">
		<a href="{% url 'admin:index' %}">
			{% trans 'Home' %}
		</a>
		&rsaquo;
		<a href="{% url 'courses:course_index' %}">
			{% trans 'Courses' %}
		</a>
		&rsaquo;
		<a href="/courses/{{ course_id }}/">
			{% trans 'Lectures' %}
		</a>
		&rsaquo;
		<a href="/courses/{{ course_id }}/{{ lecture_id }}/">
			{% trans 'Questions' %}
		</a>
	</div>
{% endblock %}

{{ title }}
{% block content %}
	{% load poll_extras %}
	
	<div id="content-main">
		<div class="module" id="changelist">

			{% block answer %}
			<div class="results">
				<table id="result_list">
					<thead>
						<tr>
							<th scope="col"> 
								<span class="text"><a href="?o=1">Questions</a></span>
							</th>
						</tr>
					</thead>
					<tbody>
						<h1>{{ question.question_text }}</h1>
						<h1>Choose the best possible answer</h1>
						<form action="{% url 'courses:vote' lecture.course_id lecture.id question.id %}" method="post">
							<table border="0" width="100%" height="100%"> 
								<tr align="center" valign="center" height="100%">
								{% csrf_token %}
								{% for answer in question.answers.filter|voteFilter|slice:":2" %}
									<td width="50%" height="100%">
										<button type="submit" name="answer" id="answer{{ forloop.counter }}" value="{{ answer.id }}" style="height: 200px; width: 80%">
											{{ answer.answer_text }}
										</button> 
									</td>
								{% endfor %}
								</tr>
							</table>
							<form action="{% url 'courses:results' lecture.course_id lecture.id question.id %}" method="post">
								<br/><button type="submit" value="skip" >
									Skip
								</button>
							</form>
						</form>
					</tbody>
				</table>
			</div>
			{% endblock answer %}
		</div>
	</div>
{% endblock %}
