{% extends "admin/base.html" %}
{% load i18n %}
{% block title %}
	{{ title }} Questions {{ site_title }}
{% endblock %}

{% block branding %}
	<div id="logo" href="/courses" onclick="window.location = '/courses';">
	</div>
{% endblock %}

{% block nav-global %}{% endblock %}

{% block breadcrumbs %}
	<div class="breadcrumbs">
		<a href="{% url 'admin:index' %}">
			{% trans 'Home' %}
		</a>
		&rsaquo;
		<a href="{% url 'courses:course_index' %}">
			{% trans 'Courses' %}
		</a>
		&rsaquo;
		<a href="/courses/{{ course_id }}/">
			{% trans 'Lectures' %}
		</a>
		&rsaquo;
		<a href="/courses/{{ course_id }}/{{ lecture_id }}/">
			{% trans 'Questions' %}
		</a>
	</div>
{% endblock %}

{{ title }}

{% block content %}

	{% load poll_extras %}
	
	<div id="content-main">
		<div class="module" id="changelist">

			{% block answer %}
			<div class="results">
                <h1>{{ question.question_text }}</h1>
                <h1>Choose the best possible answer</h1>
                <div class="voteWrapper">

                    {% for answer in question.answers.filter|voteFilter|slice:":2" %}
                        <div class="voteButton">
                            <button type="submit" name="answer" id="answer" value="{{ answer.id }}" class="voteButton">{{ answer.answer_text }}</button>
                        </div>
                    {% endfor %}

                    <div id="voteTimer" class="voteTimer"></div>

                </div>

                <div class="voteSkip"><button type="submit" value="skip" >skip</button></div>

			</div>
			{% endblock answer %}
		</div>
	</div>

    <script type="text/javascript">
        $(document).ready(function() {

            // Calculate round end time for the first voting round
            var roundEndTime = {{ question.vote_start|date:"U" }} + {{ question.vote_duration }};
            var roundDuration = {{ question.vote_duration }};

            alert(roundEndTime);

            var create_vote = function() {

                if (value != "")
                {
                    var data = { choice:value };
                    var args = { type:"POST", url:"/polls/{{ poll.id }}/ajaxvote/", data:data, complete:create_vote_complete };
                    $.ajax(args);
                }
                else
                {
                    // We should display a helpful error message
                }
                return false;
            };

            //$("#choice").click(create_vote);

            $("button").click(function(){
                var update = $(this).attr("value");

                var currentTime = Math.round(new Date().getTime() / 1000);
                var roundEndTime = Math.round(new Date().getTime() / 1000) + 300;
                var dif = t2-t1;

                //ajax stuff
            });

            $('#voteTimer').pietimer({
                timerSeconds: roundDuration,
                color: '#234',
                fill: false,
                showPercentage: true,
                callback: function() {
                    window.location = "";
                }
            });
        });
    </script>
{% endblock %}
