{% load admin_static %}{% load firstof from future %}<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="/media/jquery.js"></script>
<title>{% block bootstrap3 %} PILS | {{title}}{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static "admin/css/base.css" %}{% endblock %}" />
{% block extrastyle %}{% endblock %}
<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="{% block stylesheet_ie %}{% static "admin/css/ie.css" %}{% endblock %}" /><![endif]-->
{% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{% static "admin/css/rtl.css" %}{% endblock %}" />{% endif %}
<script type="text/javascript">window.__admin_media_prefix__ = "{% filter escapejs %}{% static "admin/" %}{% endfilter %}";</script>

{% block extrahead %}
<script type="text/javascript" src="/static/admin/js/core.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
<script type="text/javascript" src="/static/admin/js/actions.js"></script>
<script type="text/javascript" src="/media/sound-mouseover.js"></script>
<script type="text/javascript" src="/media/jquery.hoverIntent.js"></script>
<script type="text/javascript">
(function($) {
    $(document).ready(function($) {
        $("tr input.action-select").actions();
    });
})(django.jQuery);
django.jQuery;
</script>
{% endblock %}

{% block blockbots %}
<meta name="robots" content="NONE,NOARCHIVE" />
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />
<link rel="shortcut icon" href="{% static 'polls/images/favicon.ico' %}" type="image/x-icon" /> 
<link rel="icon" href="{% static 'polls/images/favicon.ico' %}" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/changelists.css' %}" />{% endblock %}
{% load bootstrap3 %}
{% bootstrap_javascript %}
{% bootstrap_css %}
</head>
{% load i18n %}

<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}">

<div class="mask"></div>

<!-- Container -->
<div id="container">

    {% if not is_popup %}
    <!-- Header -->
    <div id="header" onclick="findTheEgg();">
        <div id="branding" class="logowrapper" onmouseover="playclip();" onmouseout="pauseclip()">
            {% block branding %}
                {% if user.is_active and user.is_superuser %}
                    <div id="logo" href="/admin" class="logo"onclick="window.location = '/admin';" ></div>
                {% elif user.is_active and user.is_staff %}
                    <div id="logo" href="/teacher" class="logo" onclick="window.location = '/teacher';"></div>
                {% elif user.is_active %}
                    <div id="logo" href="/courses" class="logo" onclick="window.location = '/courses';"></div>
                {% else %}
                    <div id="logo" href="/" class="logo" onclick="window.location = '/';"></div>
                {% endif %}
            {% endblock %}
        </div>
        
        {% if user.is_active %}
        <div id="user-tools">
            {% block user-tools %}
            {% trans 'Welcome,' %}
            <a href="/"><strong>{% firstof user.get_short_name user.get_username %}</strong></a>
            {% block userlinks %}
                {% url 'django-admindocs-docroot' as docsroot %}
                {% if docsroot %}
                    <a href="{{ docsroot }}">{% trans 'Documentation' %}</a> /
                {% endif %}
                {% if user.has_usable_password and user.is_superuser %}
                    <a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a> /
                {% elif user.has_usable_password %}
                    <a href="/password_change">{% trans 'Change password' %}</a> /
                {% endif %}
               
                {% if user.is_superuser %}
                    <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>
                {% else %}
                    <a href="/logout">{% trans 'Log out' %}</a>
                {% endif %}
      

            {% endblock %}
            {% endblock user-tools %}
        </div>
        {% endif %}
        {% block nav-global %}{% endblock %}
    </div>
    <!-- END Header -->
    {% block breadcrumbs %}

    <div class="breadcrumb">
    <a href="{% if user.is_superuser %}{% url 'admin:index' %} 
             {% elif user.is_staff %}{% trans '/teacher/' %} 
             {% else %}{% trans '/courses/' %}
             {% endif %}">{% trans 'Home' %}</a>
    {% if title %} &rsaquo; {{ title }}{% endif %}
    </div>
    {% endblock %}
    {% endif %}

    {% bootstrap_messages %}

    {% block messages %}
        {% if messages %}
        <ul class="messagelist">{% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
        {% endfor %}</ul>
        {% endif %}
    {% endblock messages %}

    <!-- Content -->
    <div id="content" class="{% block coltype %}colM{% endblock %}">
        {% block pretitle %}{% endblock %}
        {% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}
        {% block content %}
        {% block object-tools %}{% endblock %}
        {{ content }}
        {% endblock %}
        {% block sidebar %}{% endblock %}
        <br class="clear" />
    </div>
    <!-- END Content -->

    {% block footer %}<div id="footer"></div>{% endblock %}
</div>
<!-- END Container -->

<audio onended="donePlaying()">
    <source id="wav" src="/media/audio/PILS.wav"></source>
    <source src="/media/audio/PILS.ogg"></source>
</audio>

<script type="text/javascript">
$(document).ready(function() {
    if (typeof jQuery != 'undefined') {  
        // jQuery is loaded => print the version
        //alert(jQuery.fn.jquery);
}
});
</script>

</body>
</html>
