li a {
	color: green;
}

#header {
    background-color: #666;
    /*background: #666 url(images/logo_pils_niet_groen_vinkje.png) left center no-repeat;
    background-size: 200px 40px;*/
    height:40px;
    width:100%;
} 

#logo {
    background-color: #666;
    background: #666 url(images/logo_pils_niet_groen_vinkje.png) left center no-repeat;
    background-size: 200px 40px;
    height:40px;
    width:200px;
    overflow: hidden;
}

#logo:hover {
    background: #666 url(images/logo_pils_met_groen_vinkje.png) left center no-repeat;
    background-size: 200px 40px;
    cursor: pointer;
}

#user-tools {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1.2em 10px;
    font-size: 11px;
    text-align: right;
    color: #FF9231;
}

a:link {color: #003439;}    /* unvisited link */
a:visited {color: #295357;} /* visited link */
a:hover {color: #FF9231;}   /* mouse over link */
a:active {color: #003439;}  /* selected link */

.row1 {
    background-color: #DFDFDF;
}

   padding-right: 26px;
}

/* OBJECT TOOLS */

.object-tools {
    font-size: 10px;
    font-weight: bold;
    font-family: Arial,Helvetica,sans-serif;
    padding-left: 0;
    float: right;
    position: relative;
    margin-top: -2.4em;
    margin-bottom: -2em;
}

.form-row .object-tools {
    margin-top: 5px;
    margin-bottom: 5px;
    float: none;
    height: 2em;
    padding-left: 3.5em;
}

.object-tools li {
    display: block;
    float: left;
    background: url(images/tool-left.gif) 0 0 no-repeat;
    padding: 0 0 0 8px;
    margin-left: 2px;
    height: 16px;
}

.object-tools li:hover {
    background: url(images/tool-left_over.gif) 0 0 no-repeat;
}

.object-tools a:link, .object-tools a:visited {
    display: block;
    float: left;
    color: white;
    padding: .1em 14px .1em 8px;
    height: 14px;
    background: #666 url(images/tool-right.gif) 100% 0 no-repeat;
}

.object-tools a:hover, .object-tools li:hover a {
    background: #FF9231 url(images/tool-right_over.gif) 100% 0 no-repeat;
}

.object-tools a.viewsitelink, .object-tools a.golink {
    background: #666 url(images/tooltag-arrowright.gif) top right no-repeat;
    padding-right: 28px;
}

.object-tools a.viewsitelink:hover, .object-tools a.golink:hover {
    background: #FF9231 url(images/tooltag-arrowright_over.gif) top right no-repeat;
}

.object-tools a.addlink {
    background: #666 url(images/tooltag-add.gif) top right no-repeat;
    padding-right: 28px;
}

.object-tools a.addlink:hover {
    background: #FF9231 url(images/tooltag-add_over.gif) top right no-repeat;
}

.module h2, .module caption, .inline-group h2 {
    margin: 0;
    padding: 2px 5px 3px 5px;
    font-size: 11px;
    text-align: left;
    font-weight: bold;
    background: #666 top left repeat-x;
    color: white;
}

div.menu2
{
    width:500px;margin:0 auto;/*Uncomment this line to make the menu center-aligned.*/
    text-align:center;
    background-image: url(images/overtop.png);
    border:1px solid black;
    font-size:0;
}

div.menu2 a
{
    display: inline-block;
    padding: 0 20px;
    background-image: url(images/overtop.png);
    color: orange;
    text-decoration:none;
    font: bold 12px Arial;
    line-height: 32px;
}

div.menu2 a:hover, div.menu2 a.current
{
    background-position:0 -60px;
}

div.menu2 a.dummy
{
    width:2px;
    padding:0 0;
}

/************************
==== Answer.html ====
*************************/

.answerarea {
    border: 1px solid black;
    resize: none;
    width: 100%;
}

div.answerwrapper {
    margin: auto;
}

div.answerform {
    float: left;
}

#timer {
    margin: 5px 5px 5px 15px;
    width: 80px;
}

/************************
==== Detail.html ====
*************************/

div.voteWrapper {
    width: 100%;
}

div.voteButton {
    width: 25%;
}

div.voteButton:nth-child(1) {
    float: left;
    display: inline-block;
}

div.voteButton:nth-child(2) {
    float: right;
    display: inline-block;
}

button.voteButton {
    width: 100%;
    height: 200px;
}

div.voteTimer {
    float: none;
    position: absolute;
    left: 50%;
    margin-left: -100px;
    margin-top: -200px;
    display: inline-block;
    height: 200px;
}

/************************
==== Results.html ====
*************************/

div.resultsRowWrapper {
    font-size: 1em;
    padding: 3px;
}

div.resultsRowWrapper:nth-child(odd) {
    background-color: lightgrey;
}

div.resultsRowWrapper:nth-child(1) {
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
}

div.resultsText {
    width: 20%;
    min-width: 200px;
    font-size: 1em;
    display: inline-block;
}

div.resultsVotes {
    display: inline-block;
}

/************************
==== Pie timer ====
*************************/

.pietimer {
    position:relative;
    font-size: 200px;
    width:1em;
    height:1em;
    float: left;
}
.pietimer > .percent {
    position: absolute;
    top: 1.05em;
    left: 0;
    width: 3.33em;
    font-size: 0.3em;
    text-align:center;
    display: none;
}
.pietimer > .slice {
    position:absolute;
    width:1em;
    height:1em;
    clip:rect(0px,1em,1em,0.5em);
}
.pietimer > .slice.gt50 {
    clip:rect(auto, auto, auto, auto);
}
.pietimer > .slice > .pie {
    border: 0.1em solid #c0c0c0;
    position:absolute;
    width:0.8em; /* 1 - (2 * border width) */
    height:0.8em; /* 1 - (2 * border width) */
    clip:rect(0em,0.5em,1em,0em);
    -moz-border-radius:0.5em;
    -webkit-border-radius:0.5em;
    border-radius:0.5em;
}
.pietimer > .slice > .pie.fill {
    -moz-transform:rotate(180deg) !important;
    -webkit-transform:rotate(180deg) !important;
    -o-transform:rotate(180deg) !important;
    transform:rotate(180deg) !important;
}
.pietimer.fill > .percent {
    display: none;
}
.pietimer.fill > .slice > .pie {
    border: transparent;
    background-color: #c0c0c0;
    width:1em;
    height:1em;
}
